@import 'variables.scss' ;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height : 1;
}

ul {
  list-style: none;
}


img {
  max-inline-size: 100%;
  block-size: auto;
}

// Buttons

button,
.btn {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.primary-btn {
  background-color: $button_primary_bg;
  color: $button_primary_text_color;
  padding: $button_primary_padding;
  transition: background-color .4s ease;

  &:hover {
    background-color: $button_primary_active_bg;
  }
}

body {
  font-family: $page_font;
  background-color: $page_bg_color;
}
